.artwork-page {
    min-height: 100vh;
    padding-bottom: 1em;

    .caps-headline {
        text-align: left;
        padding-bottom: none;
    }

    .small-heading {
        padding-top: 0;
    }
}