.trending-gallery {
    margin-top: 1em;
}

.card {
    margin: 1.5em;
    border-radius: 1em;
    padding: 1.5em;

    .arrow {
        width: 1.9em;
        margin-bottom: 1em;
    }

    .trending-gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 9em 9em;
        grid-gap: 0.5em;
        margin: 1.5em 0;

        .artwork {
            object-fit: cover;
            height: 100%; 
        }
    }

    .username {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        font-weight: 400;
        padding-top: 1em;
        border-top: solid 1.5px $black;
    }

    .card-text {
        font-size: 1.3rem;
        text-align: center;
        line-height: 130%;
        margin-top: 0.3em;
    }
}

.trending-galleries:nth-child(even) .card {
    background-color: $peach;
 }

 .trending-galleries:nth-child(odd) .card {
    background-color: $pale-rose;
 }