nav {
    background-color: $black;
    color: $pale-rose;
    width: 100%;
    padding: 1em;

    .nav-container {
        display: flex;
        justify-content: space-between;

        .home-button {
            font-weight: 900;
            font-size: 1.3rem;
        }

        .right-buttons {
            display: flex;
            font-size: 1rem;
            font-weight: 600;

            .profile-button {
                margin-left: 1.3em;
            }
        }
    }
}